@import "config/reset.css";
@import "config/fonts.css";

/*components*/
@import "components/header.css";
@import "components/banner.css";
@import "components/fairy-tail.css";
@import "components/our-trip.css";
@import "components/hotel.css";
@import "components/price.css";
@import "components/contact-form.css";

.container{
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}



